Repository Altinn/altinn-studio-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @altinn/team-core, @altinn/team-platform, @altinn/team-apps, @Altinn/team-core

Add IPv6 dual stack support and fix YAML formatting (#49)
  charts/deployment/templates/service.yaml
  charts/deployment/values.yaml
Owners: @altinn/team-apps

Update Chart.yaml
  charts/deployment/Chart.yaml
Owners: @altinn/team-apps

Feat/deployment dual stack svc (#54)
  charts/deployment/Chart.yaml
Owners: @altinn/team-apps

Update index.yaml
  index.yaml
Owners: @altinn/team-core

Tweaking
  charts/pdf-generator/Chart.yaml
  charts/pdf-generator/templates/horizontalPodAutoscaler.yaml
  charts/pdf-generator/templates/serviceprofile.yaml
  charts/pdf-generator/values.yaml
Owners: @Altinn/team-core

Potential fix for code scanning alert no. 9: Workflow does not contain permissions
  .github/workflows/validate.yaml
Owners: @altinn/team-core

Potential fix for code scanning alert no. 8: Workflow does not contain permissions
  .github/workflows/release.yaml
Owners: @altinn/team-core

Potential fix for code scanning alert no. 9: Workflow does not contain permissions (#57)
  .github/workflows/validate.yaml
Owners: @altinn/team-core

Potential fix for code scanning alert no. 8: Workflow does not contain permissions (#58)
  .github/workflows/release.yaml
Owners: @altinn/team-core

have chrome use europe/oslo time zone
  charts/pdf-generator/Chart.yaml
  charts/pdf-generator/values.yaml
Owners: @Altinn/team-core

have chrome use europe/oslo time zone (#59)
  charts/pdf-generator/Chart.yaml
  charts/pdf-generator/values.yaml
Owners: @Altinn/team-core

Update index.yaml
  index.yaml
Owners: @altinn/team-core

fix environment in values
  charts/pdf-generator/Chart.yaml
  charts/pdf-generator/values.yaml
Owners: @Altinn/team-core

fix environment in values (#60)
  charts/pdf-generator/Chart.yaml
  charts/pdf-generator/values.yaml
Owners: @Altinn/team-core

Update index.yaml
  index.yaml
Owners: @altinn/team-core

Tweaking
  charts/pdf-generator/Chart.yaml
  charts/pdf-generator/templates/horizontalPodAutoscaler.yaml
  charts/pdf-generator/templates/serviceprofile.yaml
  charts/pdf-generator/values.yaml
Owners: @Altinn/team-core

tweaks
  charts/pdf-generator/values.yaml
Owners: @Altinn/team-core

fix serviceprofile
  charts/pdf-generator/templates/serviceprofile.yaml
Owners: @Altinn/team-core

a little more aggressive scaling
  charts/pdf-generator/values.yaml
Owners: @Altinn/team-core

PDF generator chart improvements in response to scaling challenges (#56)
  charts/pdf-generator/Chart.yaml
  charts/pdf-generator/templates/horizontalPodAutoscaler.yaml
  charts/pdf-generator/templates/serviceprofile.yaml
  charts/pdf-generator/values.yaml
Owners: @Altinn/team-core

Update index.yaml
  index.yaml
Owners: @altinn/team-core

feat(deployment): possible to set desired serviceAccountName to use by the deployment
  charts/deployment/Chart.yaml
  charts/deployment/templates/deployment.yaml
Owners: @altinn/team-apps

feat(deployment): possible to set desired serviceAccountName to use by the deployment (#61)
  charts/deployment/Chart.yaml
  charts/deployment/templates/deployment.yaml
Owners: @altinn/team-apps

Update index.yaml
  index.yaml
Owners: @altinn/team-core

.github/CODEOWNERS:

*                                   @altinn/team-core
charts/altinn-dashboard-grafana/**  @altinn/team-platform 
charts/deployment/**                @altinn/team-apps
charts/pdf-generator/**             @Altinn/team-core
